/* Выполнение ДЗ начинается с 310 строки  */

/* ------------------------------------- Домашнее задание ------------------------------------ */

/* Данная домашняя работа является продолжение предыдущей, не забываем использовать работу из прошлого урока

Текст задания

1. Открыть Домашнюю работу из урока 1
2. Создать файл стилей style.css
3. Подключить ко всем страницам
4. Задать стиль

a {

text-decoration: none;

}

1. Проверить работу стилей на всех страницах
2. Разделить экран на 2 части, сделать так чтобы файл стилей располагался справа, а все html файлы были слева
3. Для всех ссылок меню задать класс (придумать логичное название класса)

a. color: cornflowerblue;

b. font-size: 16px;

c. line-height: 20px;

1. Проверить отображения стилей на всех страницах проекта
2. Для всех заголовков h1 на сайте задать класс и к нему стиль

a. color: #222222;

b. font-size: 28px;

c. line-height: 36px;

d. font-weight: bold;

1. Для всех параграфов в проекте задать класс
2. К данному классу задать стили

a. font-style: normal;

b. font-weight: 300;

c. font-size: 18px;

d. line-height: 30px;

e. color: #7D7987

1. Для заголовков h2 задать класс
2. К данному классу указать стиль

a. color: coral;

b. font-style: normal;

c. font-weight: 700;

d. font-size: 36px;

e. line-height: 80px */

/* ------------------------------------- Домашнее задание ------------------------------------ */




/* ------------------------------------- Обнуляющий стиль ------------------------------------ */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* Уже задан text-decoration */
a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ------------------------------------- Обнуляющий стиль ------------------------------------ */





@font-face {
    font-family: 'Teddy Bear';
    src: url('../fonts/teddy_bear.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/teddy_bear.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/teddy_bear.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/teddy_bear.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/teddy_bear.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/teddy_bear.svg#teddy_bear') format('svg');
    /* Chrome < 4, Legacy iOS */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
}

img {
    width: 500px;
    display: block;
    margin: 0 auto;
}

p {
    color: rgb(41, 18, 61);
    word-spacing: 5px;
}

h1 {
    font-weight: 700;
    color: rgb(116, 108, 236);
    text-shadow: 0.5px 0.5px 1px#540564;
}

h2 {
    word-spacing: 0.5px;
    font-size: 20px;
    font-weight: 700;
}

.menu {
    background-color: blueviolet;
    padding: 20px 30px;

}

.menu a {
    margin: 0px 20px 0 0;
    /* color: rgb(113, 255, 208); */
}

.menu a:visited {
    /* color: rgb(105, 212, 177); */
}

.menu a:hover {
    /* color: pink; */
}

.content {
    padding: 10px 300px;
    font-size: 15px;
    line-height: 20px;
    word-spacing: 3px;
}

.header {
    margin: 40px 120px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.header__mainPage {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.mainPageDescription {
    margin: 50px 0 50px 0;
    text-indent: 10px;
}

.welcome {
    width: 100%;
    margin: 0 auto;
    /* padding: 20px 150px; */
    text-align: center;
}

.welcome h2 {
    color: #540564;

}

.welcome_description {
    margin: 60px 100px;
}

.catalogDescription {
    margin: 50px 0;
    text-indent: 10px;
}

.items {
    border: 1px dashed #540564;
    margin: 0 0 30px 0;
}

.items__container {
    margin: 20px;
    width: 100;
}

.items h2 {
    margin: 30px 0 30px 60px;
    font-family: 'Teddy Bear';
    letter-spacing: 1.5px;
    padding: 0 0 0 20px;
}

.items p {
    margin: 0 30px;
}


.contact {
    color: #540564;
    margin: 100px;
}

.contact h2 {
    font-size: 30px;
}




/* ------------------------------------- Выполнение домашнего задания ------------------------ */

.menu__nav {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.title {
    color: #222222 !important;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.title-two {
    color: coral !important;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px
}

/* ------------------------------------- Выполнение домашнего задания ------------------------ */

body {
    background-color: white;
}

.menu {
    background-color: #85848841;
    /* Прикольно что я нечаянно практически тон в тон попал в мой цвет панели избранного браузера Edge. Прикреплю скриншот на Гит Хаб */
}

.menu__nav:hover {
    color: coral;
}

.menu__nav:active {
    color: rgb(185, 93, 60);
}

.title-two:hover {
    background-color: cornflowerblue;
}

.items {
    border-color: cornflowerblue;
}

.items:hover {
    background-color: #85848811;
}